
      <img class="col--sidebar__logo" src="http://www.jeremyschneider.fr/files/gimgs/43_la-surprise.jpg" alt="Today I Learned">

      <h1><a class="c-sidebar__title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <!-- <h2 class="c-sidebar__description">{{ site.description }}</h2> -->

      <nav>

      <ul class='o-horizontallist'>
      {% for tag in site.tags %}
        <li class="o-horizontallist__elem">{{ tag | first}}</li>
      {% endfor %}
      </ul>
        
        
      </nav>
      

      {% include footer.html %}
