<section class="c-header">
	<h1 class="c-header__title">Gábor Pintér</h1>
	<p class="c-header__subtitle">Hi, I am a full-stack web developer & hobby designer. <span class="o-text--block">You can find me on <a href="https://github.com/gaboratorium" target="_blank">GitHub</a> and <a href="https://www.linkedin.com/in/gaboratorium/" target="_blank">LinkedIn</a>.</span></p>
	</p>

	<!-- <ul class="c-navigation">
		<li class="c-navigation__menu"><a href="{{ '/' | prepend: site.baseurl }}" class="c-navigation__menu-link">Posts</a></li>
		 <li class="c-navigation__menu"><a href="{{ '/projects' | prepend: site.baseurl }}" class="c-navigation__menu-link">Projects</a></li> 
		 <li class="c-navigation__menu"><a href="{{ '/design' | prepend: site.baseurl }}" class="c-navigation__menu-link">Design</a></li> 
		<li class="c-navigation__menu"><a href="{{ '/resume' | prepend: site.baseurl }}" class="c-navigation__menu-link">Resumé</a></li>
	</ul> -->
</section>