<div class="c-header">
	<div class="c-header__content">
		<img src="{{ site.baseurl }}/assets/G11.png" style="width: 4rem;" alt="">
		<h1 class="c-header__title"><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
		<ul class="c-header__menu">

			{% assign url = page.url | downcase  %}

			<li 
				{% if url == '/' %} 
					class='c-header__menu-item c-header__menu-item--selected' 
				{% else  %} 
					class="c-header__menu-item"
				{% endif %}>
				<a href="{{ '/' | prepend: site.baseurl }}">Home</a>
			</li>

			<li 
				{% if url contains '/articles' %} 
					class='c-header__menu-item c-header__menu-item--selected' 
				{% else  %} 
					class="c-header__menu-item"
				{% endif %}>
				<a href="{{'/articles' | prepend: site.baseurl}}/">Articles</a>
			</li>


			<li 
				{% if url contains '/projects' %} 
					class='c-header__menu-item c-header__menu-item--selected' 
				{% else  %} 
					class="c-header__menu-item"
				{% endif %}>
				<a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
			</li>



			<li 
				{% if url contains '/about' %} 
					class='c-header__menu-item c-header__menu-item--selected' 
				{% else  %} 
					class="c-header__menu-item"
				{% endif %}>
				<a href="{{ '/about' | prepend: site.baseurl }}">About</a>
			</li>

		</ul>

	</div>
</div>