h1,h2,h3,h4,h5,h6,p,ul,ol {
	margin-bottom: $base-margin;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

body a {
	color: $primary-color;
	transition: color $link-animation-speed;
	&:hover {
		color: $warning-color;
	}
}