.c-footer {
	background-color: #E0E0E0;
}

.c-footer__text {
	text-transform: uppercase;
	color: $gray-color;
	font-size: .65rem;
	a {
		color: $gray-color;
	}
}

.c-footer__text--block {
	display: block;
	margin-bottom: .2rem;
}