.c-header {
		background-color: #FAFAFA;
		display: flex;
		justify-content: center;
		border-bottom: #E5E5E5 solid 1px;
		padding-top: 1rem;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 3rem;
	}

	.c-header__content {
		display: flex;
		flex-flow: column nowrap;
	}

	.c-header__title {
		margin: 0;
		color: #4F4F4F;
		font-size: 1.35rem;
		font-weight: 300;
		margin: 1rem 0rem;
		text-align: center;
		transition: color 300ms;
	}

	.c-header__title > a, .c-header__title > a:hover, .c-header__title > a:focus {
		text-decoration: none;
		color: inherit;
	}

	.c-header__title:hover {
		color: #2F80ED;
		cursor: pointer;
	}

	.c-header__menu {
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 0;
		padding: 0;
		justify-content: space-between;
	}

	.c-header__menu-item {
		margin: 0;
		padding: 0 1rem;
		padding-bottom: .5rem;
		color: #A5A5A5;
	}

	.c-header__menu-item > a, .c-header__menu-item > a:hover, .c-header__menu-item > a:focus {
		text-decoration: none;
		color: inherit;
	}

	.c-header__menu-item--selected {
		color: #2F80ED;
		border-bottom: 2px solid #2F80ED;
	}