.c-posts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.c-posts__post {
	padding: $base-padding;	
	border-bottom: 1px solid $border-color;

	h1 { font-size: 1.5rem;}
	h2 { font-size: 1.25rem;}
	h3, h4, h5, h6 { font-size: 1rem;}
}

.c-posts__post__title {
	font-weight: bold;
	margin-top: 0rem;
	font-size: 1.5rem;
}

.c-posts__post__iconcontainer {
	max-width: 50px;
	padding-top: $base-padding;
}

.c-posts__post__icon {
	color: #F1C40F;
	font-size: 3rem;
}

.c-posts__post__meta {
	font-size: .9rem;
	font-style: italic;
	color: $gray-color;
}