$site-title-color: #F1C40F;
$primary-color: #529c7a;
$primary-color-light: #FAF7EA;

$posts-highlight-color: #ECF2F8;

$border-color: #E4E4E4;
$gray-color: lighten(gray, 8%);


$secondary-color: #D81B60;
$success-color: #43A047;
$warning-color: #EF6C00;
$alert-color: #E53935;
$dark-color: #232323;
$info-color: #A0D3E8;
