@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700|Roboto:400,500,700&subset=latin-ext");
.o-text--h3-size { font-size: 1.17em; }

.o-text--block { display: block; }

.o-text--align-center { text-align: center; }

.o-text--underline { text-decoration: underline; }

.o-text--no-border, .o-text--noborder:hover { border: none; }

.o-image--bordered { border: 1px solid lightgray; }

body { font-size: 17px; line-height: 20px; font-weight: normal; font-style: normal; font-family: 'Roboto', sans-serif; color: #222; padding: 20px; margin: 0; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
@media (min-width: 992px) { body { padding: 35px 50px; } }

strong { font-weight: 600; }

h1 { font-family: 'Open Sans'; font-weight: 100; line-height: 1.7rem; }

h3 { font-size: 1.2rem; }

h2, h3, h4, h5 { margin: 45px 0 25px; font-family: 'Open Sans', Roboto, sans-serif; font-weight: 400; line-height: 1.7rem; }

img { max-width: 100%; }

a { color: #4787ed; text-decoration: none; font-weight: bold; }
a:hover { text-decoration: underline; }
a.image { display: block; text-align: center; border: 0; border-radius: 5px; margin: 30px 0; }
a.image:hover { text-decoration: none; }

mark { background: #fffc76; padding: 0 5px; }

blockquote { border-left: 5px solid #81D4FA; margin: 40px 0; padding: 5px 30px; font-style: italic; }

.logo { position: relative; margin: 0 auto 35px; text-align: center; }
.logo a { color: #000; text-decoration: none; font-weight: 700; height: 90px; width: 90px; font-size: 1.5em; display: inline-block; text-align: center; line-height: 100px; border: 5px solid #fff; box-sizing: border-box; }
.logo a:hover + .logo-prompt, .logo a:focus + .logo-prompt { display: inline-block !important; }
@media (max-width: 480px) { .logo a:hover + .logo-prompt, .logo a:focus + .logo-prompt { display: none !important; } }
.logo .logo-prompt { position: absolute; display: none; vertical-align: middle; padding: 5px; border-radius: 3px; background: #666; background: rgba(0, 0, 0, 0.5); margin-left: 15px; color: #fff; font-size: 0.8235em; text-align: center; line-height: 1.2; top: 50%; margin-top: -10px; }
.logo .logo-prompt:before { content: ""; border-width: 5px 5px 5px 0; border-style: solid; border-color: transparent #666; border-color: transparent rgba(0, 0, 0, 0.5); position: absolute; top: 50%; left: -5px; margin-top: -5px; }

iframe { margin: 45px 0 !important; }

ul, ol { margin: 0rem; padding-left: 50px; line-height: 1.5rem; margin-bottom: 1rem; }
ul li, ol li { word-wrap: break-word; }
ul img, ol img { margin: 40px 0; border-radius: 5px; }

sup { vertical-align: top; position: relative; top: -0.5em; margin-left: 1px; }

code, pre { font-family: Consolas, Courier, monospace; }

code { color: #f14e32; background: #eee; padding: 2px 6px; font-size: 13px; }

pre { display: block; margin-top: 0; margin-bottom: 1rem; font-size: 0.9rem; line-height: 1.4; white-space: pre; overflow-x: auto; background-color: #f9f9f9; border-radius: 3px; border: 1px solid #ddd; padding: 1rem; }
pre code { font-size: 100%; color: inherit; background-color: transparent; padding: 0; }

table { width: 100%; table-layout: fixed; margin: 45px 0; }
table thead { background: #f2f2f2; }
table th { text-align: left; padding: 8px 10px; border-bottom: 15px solid #fff; }
table td { padding: 4px 0; }

iframe { width: 100%; }

article { max-width: 725px; margin: 0 auto; }
article .title { line-height: 1.4em; text-align: center; }
article .divider { background: #ddd; background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#ccc), to(rgba(255, 255, 255, 0))); background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0)); background: linear-gradient(to right, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0)); height: 1px; margin: 2em 0; }
article .center { text-align: center; margin: 0 auto; }
article hr { border: 0; border-bottom: 1px solid #000; margin: 30px 0; }
article p { font-size: 1.1rem; line-height: 1.7em; word-wrap: break-word; }
article li { margin-bottom: .25rem; }
article img { border-radius: 4px; margin: 1rem 0rem; }
article .footnote { border: 0; background-color: #0087BE; color: #fff; padding-left: 2px; padding-right: 2px; }
article .footnotes { margin: 50px auto; display: block; }
article .footnotes p { line-height: 1rem; font-weight: normal; }
article .footnotes ol { margin: 0; padding-left: 15px; }
article .footnotes ol li { font-weight: bold; }
article .footnotes .reversefootnote { border: 0; color: #0087BE; }
article a:hover { color: #F37C22; border-color: #369; text-decoration: none; }

.back { text-align: center; }
.back a { text-decoration: none; margin: 40px auto 0; display: inline-block; padding: 10px; border: 0; }
.back a:before { content: "<<"; margin-right: 5px; color: #000; }
.back a img { border: none; }

.block { display: block; }

.page-navigation, .footer { text-align: center; max-width: 725px; margin: 0 auto; font-size: 1rem; }

.page-navigation { margin: 50px auto 0 auto; }
.page-navigation a { display: inline-block; text-decoration: none; border-bottom: none; }
.page-navigation span { display: inline-block; }

.footer { margin-top: 50px; color: #777; }
.footer a { border: none; font-weight: bold; }

section { max-width: 650px; margin: 0 auto 70px auto; }
section ul { list-style: none; margin: 0; padding: 0; }
section ul li { margin: 35px 0; }
section ul li .description { color: gray; font-size: 16px; margin-top: 10px; }
section ul li .title { font-size: 22px; font-family: 'Open Sans'; max-width: 100%; word-wrap: normal !important; }
section ul li a { color: #3d3d3d; }
section ul li .post-date { font-size: smaller; text-transform: uppercase; }
section ul li time { display: inline-block; color: #757575; }
@media (min-width: 992px) { section ul li a:hover { border-color: #000; } }

@keyframes bounce { 0% { transform: translate3d(0, -1000px, 0); }
  60% { transform: translate3d(0, 25px, 0); }
  75% { transform: translate3d(0, -10px, 0); }
  90% { transform: translate3d(0, 5px, 0); }
  100% { transform: none; } }
@-webkit-keyframes bounce { 0% { -webkit-transform: translate3d(0, -1000px, 0); }
  60% { -webkit-transform: translate3d(0, 25px, 0); }
  75% { -webkit-transform: translate3d(0, -10px, 0); }
  90% { -webkit-transform: translate3d(0, 5px, 0); }
  100% { -webkit-transform: none; } }
.c-navigation__menu { display: inline-block; text-transform: uppercase; margin-right: 0.5rem; margin-left: 0.5rem; font-size: 14px; font-weight: 600; }
.c-navigation__menu:hover { border-color: #4787ed !important; }

.c-navigation__menu-link { color: #4787ed; }

.c-header { text-align: center; }

.c-header__title { font-size: 30px; font-weight: 100; font-family: 'Open Sans'; margin-bottom: 0; }

.c-header__subtitle { color: gray; font-size: 16px; line-height: 1.5rem; }

.c-header__link { color: inherit; font-weight: normal; text-decoration: underline; }

.o-text--block { display: block; }

.o-text--bold { font-weight: 600; }

.c-ul-in-default { list-style-type: disc; margin-left: 4rem; }

.o-grid { display: flex; flex-flow: row nowrap; }

.o-grid--center { justify-content: center; }

img.emoji { margin: 0rem; }

article .c-post-header { margin-bottom: 3rem; }

.c-article-image { width: 100%; }

.c-article--post { max-width: 650px; }

.c-article__meta { color: #777; }

.c-article__meta--link { color: inherit; }
.c-article__meta--link:hover { text-decoration: underline; color: inherit; }

.c-post-header__subtitle { font-size: 1.2rem; color: #555; }

.c-bio { text-align: center; color: #777; font-style: italic; margin-top: 1rem; }

.c-bio__avatar { width: 70px; height: 70px; border-radius: 50%; margin-right: 1rem; }

.o-grid--align-items-center { align-items: center; }

.o-text--center { text-align: center; }

.c-image__alt { font-weight: normal; color: #777; }
.c-image__alt:hover { text-decoration: none; }

a.phantom { color: #777; font-weight: 500; }
a.phantom:hover { color: #777; text-decoration: underline; }

.post-year { color: gray; }

.c-post-header__player { margin-top: 2rem; color: red; font-size: 1rem; }

.pagination { text-align: center; }

.alert { font-size: medium; position: relative; padding: .75rem 1.25rem; margin-bottom: 3rem; border: 1px solid transparent; border-radius: .17rem; margin-top: 60px; text-align: center; }

.alert-light { color: #717171; background-color: #f6f6f6; border-color: #e4e4e4; }

.alert-custom { border: 1px solid #e4e4e4; background: #f4f8fb; }

#mc_embed_signup form { text-align: center; padding: 10px 0 10px 0; }

.mc-field-group { display: inline-block; }

/* positions input field horizontally */
#mc_embed_signup input.email { font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; font-size: 15px; border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing: border-box; height: 32px; padding: 0px 0.4em; display: inline-block; margin: 0; width: 350px; vertical-align: top; }

#mc_embed_signup label { display: block; font-size: 16px; padding-bottom: 10px; font-weight: bold; }

#mc_embed_signup .clear { display: inline-block; }

/* positions button horizontally in line with input */
#mc_embed_signup .button { font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing: border-box; height: 32px; line-height: 32px; padding: 0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s; }

#mc_embed_signup .button:hover { background-color: #777; cursor: pointer; }

#mc_embed_signup div#mce-responses { float: left; top: -1.4em; padding: 0em .5em 0em .5em; overflow: hidden; width: 90%; margin: 0 5%; clear: both; }

#mc_embed_signup div.response { margin: 1em 0; padding: 1em .5em .5em 0; font-weight: bold; float: left; top: -1.5em; z-index: 1; width: 80%; }

#mc_embed_signup #mce-error-response { display: none; }

#mc_embed_signup #mce-success-response { color: #529214; display: none; }

#mc_embed_signup label.error { display: block; float: none; width: auto; margin-left: 1.05em; text-align: left; padding: .5em 0; }

@media (max-width: 768px) { #mc_embed_signup input.email { width: 100%; margin-bottom: 5px; }
  #mc_embed_signup .clear { display: block; width: 100%; }
  #mc_embed_signup .button { width: 100%; margin: 0; } }
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

.container { width: 100%; margin: 0 auto; position: relative; }

#contact { background: #F9F9F9; padding: 25px; margin: 50px 0; }

#contact h3 { color: #F96; display: block; font-size: 30px; font-weight: 400; }

#contact h4 { margin: 5px 0 15px; display: block; }

fieldset { border: medium none !important; margin: 0 0 10px; min-width: 100%; padding: 0; width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea { width: 100%; border: 1px solid #CCC; background: #FFF; margin: 0 0 5px; padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover { -webkit-transition: border-color 0.3s ease-in-out; -moz-transition: border-color 0.3s ease-in-out; transition: border-color 0.3s ease-in-out; border: 1px solid #AAA; }

#contact textarea { height: 200px; min-height: 100px; max-width: 100%; }

#contact button[type="submit"] { cursor: pointer; width: 100%; border: none; background: #0CF; color: #FFF; margin: 0 0 5px; padding: 10px; }

#contact button[type="submit"]:hover { background: #09C; -webkit-transition: background 0.3s ease-in-out; -moz-transition: background 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus { outline: 0; border: 1px solid #999; }

::-webkit-input-placeholder { color: #888; }

:-moz-placeholder { color: #888; }

::-moz-placeholder { color: #888; }

:-ms-input-placeholder { color: #888; }

code { background-color: #f9f9f9; color: #444; }

.highlight .hll { background-color: #ffffcc; }

.highlight .c { color: #0099FF; font-style: italic; }

/* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA; }

/* Error */
.highlight .k { color: #006699; font-weight: bold; }

/* Keyword */
.highlight .o { color: #555555; }

/* Operator */
.highlight .cm { color: #0099FF; font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: #009999; }

/* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic; }

/* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic; }

/* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000; }

/* Generic.Deleted */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #FF0000; }

/* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold; }

/* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00; }

/* Generic.Inserted */
.highlight .go { color: #AAAAAA; }

/* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold; }

/* Generic.Prompt */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold; }

/* Generic.Subheading */
.highlight .gt { color: #99CC66; }

/* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold; }

/* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp { color: #006699; }

/* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold; }

/* Keyword.Type */
.highlight .m { color: #FF6600; }

/* Literal.Number */
.highlight .s { color: #CC3300; }

/* Literal.String */
.highlight .na { color: #330099; }

/* Name.Attribute */
.highlight .nb { color: #336666; }

/* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold; }

/* Name.Class */
.highlight .no { color: #336600; }

/* Name.Constant */
.highlight .nd { color: #9999FF; }

/* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold; }

/* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold; }

/* Name.Exception */
.highlight .nf { color: #CC00FF; }

/* Name.Function */
.highlight .nl { color: #9999FF; }

/* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold; }

/* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold; }

/* Name.Tag */
.highlight .nv { color: #003333; }

/* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold; }

/* Operator.Word */
.highlight .w { color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf { color: #FF6600; }

/* Literal.Number.Float */
.highlight .mh { color: #FF6600; }

/* Literal.Number.Hex */
.highlight .mi { color: #FF6600; }

/* Literal.Number.Integer */
.highlight .mo { color: #FF6600; }

/* Literal.Number.Oct */
.highlight .sb { color: #CC3300; }

/* Literal.String.Backtick */
.highlight .sc { color: #CC3300; }

/* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 { color: #CC3300; }

/* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh { color: #CC3300; }

/* Literal.String.Heredoc */
.highlight .si { color: #AA0000; }

/* Literal.String.Interpol */
.highlight .sx { color: #CC3300; }

/* Literal.String.Other */
.highlight .sr { color: #33AAAA; }

/* Literal.String.Regex */
.highlight .s1 { color: #CC3300; }

/* Literal.String.Single */
.highlight .ss { color: #FFCC33; }

/* Literal.String.Symbol */
.highlight .bp { color: #336666; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #003333; }

/* Name.Variable.Class */
.highlight .vg { color: #003333; }

/* Name.Variable.Global */
.highlight .vi { color: #003333; }

/* Name.Variable.Instance */
.highlight .il { color: #FF6600; }

/* Literal.Number.Integer.Long */
