---
layout: default
---

{% include header.html %}
{% include navigation.html %}

<!-- Paginated posts -->
<section>
	<ul>
		{% for post in paginator.posts %}
		<li>
			{% if site.minimalistHome %}
				{% unless post.next %}
					<h3 class="post-year">{{ post.date | date: '%Y' }} &#172;</h3>
				{% else %}
					{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
					{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
					{% if year != nyear %}
						<h3 class="post-year">{{ post.date | date: '%Y' }} &#172;</h3>
					{% endif %}
				{% endunless %}
			{% endif %}

			<div class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
			{% unless site.minimalistHome %}
				<div class="post-date">
					<time>
						{% assign m = post.date | date: "%-m" %}
						{{ post.date | date: "%-d" }}
						{% case m %}
						{% when '1' %} {{ site.data.ui-text.months.january }}
						{% when '2' %} {{ site.data.ui-text.months.february }}
						{% when '3' %} {{ site.data.ui-text.months.march }}
						{% when '4' %} {{ site.data.ui-text.months.april }}
						{% when '5' %} {{ site.data.ui-text.months.may }}
						{% when '6' %} {{ site.data.ui-text.months.june }}
						{% when '7' %} {{ site.data.ui-text.months.july }}
						{% when '8' %} {{ site.data.ui-text.months.august }}
						{% when '9' %} {{ site.data.ui-text.months.september }}
						{% when '10' %} {{ site.data.ui-text.months.october }}
						{% when '11' %} {{ site.data.ui-text.months.november }}
						{% when '12' %} {{ site.data.ui-text.months.december }}
						{% endcase %}
						{{ post.date | date: "%Y" }}
					</time>
				</div>

				<div class="description">{{ post.description | strip_html | strip_newlines }}</div>
			{% endunless %}
		</li>
		{% endfor %}
	</ul>
</section>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<section>
	<nav role="navigation" class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
			&larr; {{ site.data.ui-text.previous }}
		</a>
		{% endif %}

		<span class="page_number">
			{{ site.data.ui-text.page }} {{ paginator.page }} {{ site.data.ui-text.of }} {{ paginator.total_pages }}
		</span>

		{% if paginator.next_page %}
		<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">
			{{ site.data.ui-text.next }} &rarr;</a>
		{% endif %}
	</nav>
</section>
{% endif %}